<ion-pane>
    <ion-content>
      <div class="row">
          <div class="col" style="text-align: center;">
              <img src="img/iba.png"></div>
      </div>
      <div class="row">
          <div class="col">
              <div class="button button-full button-outline button-dark"><h2>{{pageTitle}}</h2></div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="list card" ng-repeat="program in programs">
                  <a href="#/program/{{program.title}}" class="item item-icon-left">
                      <i class="icon ion-code"></i>{{program.title}}
                  </a>
              </div>
          </div>
      </div>
    </ion-content>
</ion-pane>