<ion-pane>
    <ion-content>
      <div class="row">
          <div class="col" style="text-align: center;">
              <img src="img/iba.png"></div>
      </div>
      <div class="row">
          <div class="col">
              <div class="button button-full button-outline button-dark"><h2>Offered Programs</h2></div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="list card">
                  <a href="#/program" class="item item-icon-left">
                      <i class="icon ion-code"></i>MS Computer Science
                  </a>
              </div>
          </div>
      </div>
    </ion-content>
</ion-pane>