<ion-header-bar align-title="left" class="bar-stable">
    <div class="buttons">
        <button class="button" on-click="goBack()">Back</button>
    </div>
    <h1 class="title" style="text-align: center;">MS Computer Science</h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="course in courses" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
            <img ng-src="{{chat.face}}">
            <h2>{{course.title}}</h2>
            <p>{{chat.lastText}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>

            <ion-option-button class="button-assertive" ng-click="remove(chat)">
            Delete
            </ion-option-button>
        </ion-item>
    </ion-list>
</ion-content>